{% extends "admin/layoutadmin.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Bienvenue sur la liste des utilisateurs</h1>

    <!-- La syntaxe ci-dessous est un commentaire twig -->
    {# TODO generate user list #}

    <ul>
        {#<?php foreach($users as $user) : ?>#}
        {% for user in users %}
            <li>
            {#<?= htmlspecialchars($user->getFirstName()); ?>#}
            {{ user.firstname }} {{ user.lastname }} <a href="{{ path('user_details', { id : user.id }) }}">Details</a>
            </li>
            {#<?php endforeach; ?>#}
        {% endfor %}
    </ul>
{% endblock %}