<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MoiJv - {% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('list_user') }}">Liste utilisateur</a></li> 
                    <li><a href="{{ path('list_product') }}">Liste des produits</a></li>
                    {% if is_granted('ROLE_USER') %} {# Vérifie les permissions de l'utilisateur #}
                    <li><a href="{{ path('my_products') }}">Liste de mes produits</a></li>                   
                    <li><a href="{{ path('add_product') }}">Ajouter un produit</a></li>
                    {% endif %}
                </ul>
            </nav>    
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
